@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
:root {
  --agray: #3a3a3a;
}
.btn-primary {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 0.5rem;
  padding: 0.625rem 1.5rem;
  border-radius: 41px;
  background: #e02c6d;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}

nav {
    display: flex;
    justify-content: center;
}
.nav-container {
  width: 75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5.43rem;
}
.nav-container > h3 {
  color: var(--agray);
  font-size: 1.5rem;
  font-weight: 700;
}
.nav-container > ul {
  display: flex;
  gap: 2.12rem;
}
.nav-container > ul li {
  list-style: none;
}
.nav-container > ul > li > a {
  text-decoration: none;
  color: var(--agray);
  font-size: 1rem;
  font-weight: 600;
}
/***** banner section *****/
.banner-container{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75rem;    
}
.banner{
    margin-top: 3.13rem;
}
.banner-info {
  max-width: 53.25rem;
}
.banner-info .banner-title {
  color: var(--agray);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 4.38rem;
}
.banner-info .banner-text {
  text-decoration: none;
  color: var(--agray);
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 0;
  max-width: 31.25rem;
}
.camera-img {
  width: 30rem;
  height: 30rem;
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  /* border: 2px solid rebeccapurple; */
}
.camera-img > img{
    max-width: 27.5rem;
    max-height: 25.875rem;
}
/***** End banner section *****/
/***** Logos part *****/ 
.brands{
    display: flex;   
    justify-content: center;
    align-items: center;
    /* align-items: center; */
}
.brand-container{
    margin-top: 4.3125rem;
    margin-bottom: 6.25rem;
    width: 69.375rem;
    border-top: 1px solid gray;
    border-bottom: 2px solid gray;
}
.brand-container > .brand-imgs{
    display: flex;
    justify-content: space-around;
    margin: 2.5rem 0;
}

/***** End Logos part *****/
/***** cards section *****/ 
.cards{
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    max-width: 329px;
}
.card-container{
    width: 65.375rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem 2.75rem ;
}
.collection{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-title{
    text-align: center;
    color: var(--agray);
font-size: 28px;
font-weight: 600;
line-height: 70px; 
}
.cullection-container > .btn-class{
    margin-top: 3.125rem;
    width: 65.375rem;
    display: flex;
    justify-content: end;
    padding-left: 18.5rem;
    /* border: 2px solid rebeccapurple; */
}
.btn-class > .btn-primary{
    background: none;
    color: rgba(224, 44, 109, 0.87);
}
.cards > p > small {
    color:  #FB8200;
}
/***** End cards section *****/

 /***** responsive  *****/ 
@media screen and (max-width:576px) {
    .nav-container,
    .banner,
    .nav-container > ul
    {
        flex-direction: column;
    }
    .banner-info{
        text-align: center;
        padding: 1.3125rem;
    }
    .camera-img > img{
        height: 12.625rem;
        width: 11.875rem;

    }
    .camera-img{
        height: 16.0625rem;
        width: 16.0625rem;
    }
    .brand-container > .brand-imgs{
        flex-wrap: wrap;
        gap: 2rem;
        padding: 0 2.9375rem ;
    }
    .brand-container{
        border: none;
    }
    .card-container{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .cullection-container > .btn-class{
        /* margin-top: 3.125rem; */
        /* width: 65.375rem;     */
        /* display: flex;
        justify-content: end; */
        /* padding-left: 18.5rem; */
        width: 20rem;
        padding-left: 0;
        
        
    }
    .btn-class > .btn-primary{
        /* padding-right: 50px; */
        width: 10rem;
    }
    

}
 /***** End responsive  *****/
 